body{
    background-color: rgb(250,250,250);
}
.App{
    background-image: url('./images/bg.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images{
    width: 300px;
    margin-top: 50px;
    text-align: center;
    display: block;
    margin-left: 100px;
}